[submodule "dbt-core"]
	path = dbt-core
	url = https://minres.com/git/SystemC/DBT-Core.git
[submodule "sc-components"]
	path = sc-components
	url = https://minres.com/git/SystemC/SystemC-Components.git
[submodule "external/easyloggingpp"]
	path = external/easyloggingpp
	url = https://github.com/muflihun/easyloggingpp.git
[submodule "external/elfio"]
	path = external/elfio
	url = http://git.code.sf.net/p/elfio/code
[submodule "external/libGIS"]
	path = external/libGIS
	url = https://github.com/vsergeev/libGIS.git
