.DS_Store
/*.il
/.settings
/avr-instr.html
/blink.S
/flash.*
/avr-gdb.cmd
/main.cpp
/Debug/
/core
/*.launch
/*.csv
/Release/
/*.vcd
/*.ods
/build*/
/*.logs
/*.gtkw
/Debug wo LLVM/
/*.txdb
/*.txlgz
/*.txlog
/.??*bdb.d.0
/.??*bdb.i.0
/.??*bdb.t
/tmp/
/*.elf
/logs/
/*.log
/.gdbinit
/*.out
/dump.json
/CMakeUserPresets.json
/*.yaml
/.direnv/
/.envrc.*
